In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from fastai import *
from fastai.vision import *

In [2]:
test_df = pd.read_csv("../data/test_WyRytb0.csv")
sample_sub = pd.read_csv("../data/sample_submission_CH2mq5Z.csv")

In [3]:
test_df.head()

  image_name
0      3.jpg
1      5.jpg
2      6.jpg
3     11.jpg
4     14.jpg

In [4]:
sample_sub.head()

  image_name  label
0      3.jpg      0
1      5.jpg      0
2      6.jpg      0
3     11.jpg      0
4     14.jpg      0